<h1>Attribute Directives</h1>
<h2>ngClass / ngStyle</h2>
<div [ngClass]="{border: true, background: true}"></div>
<br>
<div [class.border]="true"></div>
<br>
<div [ngStyle]="{'background-color': 'red'}"></div>
<br>
<hr>
<h1>Custom Attribute Directive</h1>
<div dirHighlight [highlight]="'blue'" [defaultColor]="'yellow'">Hover me!</div>
<br>
<hr>
<h1>Structural Directives</h1>
<h2>*ngIf</h2>
<div *ngIf="switch">Conditional Text</div>
<button (click)="onSwitch()">Click to switch</button>
<hr>
<h2>*ngFor</h2>
<ul>
	<li *ngFor="let item of items; let i = index">{{item}} - (index: {{i}})</li>
</ul>
<hr>
<h2>*ngSwitch</h2>
<div [ngSwitch]="value">
	<p *ngSwitchCase="10">10</p>
	<p *ngSwitchCase="100">100</p>
	<p *ngSwitchDefault>Default</p>
</div>
<hr>
<h1>Custom Structural Directives</h1>
<h2>*unless</h2>
<div *unless="switch">
	Conditional Text
</div>